{% extends "base.html" %}
{% load static %}
{% block title %}Contacto{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center text-white" style="color: black !important;">Contacto</h2>
    <form action="/contacto/" method="post" class="form-container bg-dark p-4 rounded">
        {% csrf_token %}
        <div class="mb-3">
            <label for="asunto" class="form-label text-white">Asunto</label>
            <select name="asunto" id="asunto" class="form-select">
                <option value="1">Pregunta</option>
                <option value="2">Problema con cuenta</option>
                <option value="3">Recomendación</option>
                <option value="4">Otro</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="correo" class="form-label text-white">Correo</label>
            <input type="email" class="form-control" name="correo" id="correo" required>
        </div>
        <div class="mb-3">
            <label for="mensaje" class="form-label text-white">Mensaje</label>
            <textarea class="form-control" id="mensaje" name="mensaje" rows="4" required></textarea>
        </div>
        <div class="text-center">
            <input type="submit" value="Enviar" class="btn btn-primary">
        </div>
    </form>
</div>
{% endblock %}
